
@{
    ViewBag.Title = "Index";
}

<script src="~/Content/js/sweetalert.min.js"></script>


@if (ViewBag.hasil != null)
{
    <script>
        swal("Info", "Sukses", "warning");
        console.log("hari tidak sama");
    </script>
}

<h2>Index</h2>

